h1{
    text-align: center;
    }
    
    table, th, td {
    border: 4px solid #021b1d;
    }
    
    table {
    border-collapse: collapse;
    margin: auto;
    }
    
    th, td{
    padding: 10px;
    text-align: center;
    width: 213px;
    }
    
    th{
    font-weight: bold;
    background-color: #000000;
    color: #fff;
    }
    
    
    tr:nth-child(even),
    tr:hover:nth-child {
    background-color: #03e9f4;
    color: #db0e0e;
    }
    
    tr:hover:nth-child(1n + 2) {
    background-color: #05012e;
    
    }
    