{% extends 'principal.html' %}

<!DOCTYPE html>


{% block content %}

              {% for chave in chaves %}
              <p>
                  {% if chave.disponivel %} - (Disponível){% else %}{{chave.sala.numero}} - {{chave.sala.descricao}} - (Indisponível){% endif %}
                  {% if chave.disponivel %}
                      <a href="{% url 'alugar_chave' chave.id %}">Pegar chave</a>
                  {% else %}
                        <a href="{% url 'devolver_chave' chave.id %}">Devolver chave</a>
                  {% endif %}
              </p>
              <button></button>
          {% endfor %}      
          {% endblock content %}
